{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">


      <span class="govuk-caption-xl">Manage PRNs</span>
      <h1 class="govuk-heading-xl">
        PRN details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PRN number
          </dt>
          <dd class="govuk-summary-list__value">
            ER992415095748M
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--purple">
              Awaiting acceptance
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"></span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Issued by
          </dt>
          <dd class="govuk-summary-list__value">
            Gaskells Waste Services
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Packaging waste producer or compliance scheme
          </dt>
          <dd class="govuk-summary-list__value">
            MCG Developments
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Tonnage
          </dt>
          <dd class="govuk-summary-list__value">
            5
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Tonnage in words
          </dt>
          <dd class="govuk-summary-list__value">
            Five
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Issuer comments
          </dt>
          <dd class="govuk-summary-list__value">
            
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Issued date
          </dt>
          <dd class="govuk-summary-list__value">
            29 September 2025
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Authorised by
          </dt>
          <dd class="govuk-summary-list__value">
            Matt Davis
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            Chief Waste Officer
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"></a>
          </dd>
        </div>
      </dl>




      <div class="govuk-!-padding-bottom-6"></div>

      <h1 class="govuk-heading-l">
        Accreditation details
      </h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Material"
          },
          value: {
            text: "Plastic"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "",
                visuallyHiddenText: "Question 1"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Accreditation number"
          },
          value: {
            text: "493021"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "",
                visuallyHiddenText: "Question 2"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Accreditation address"
          },
          value: {
            text: "South Road, 
            Liverpool,
            L22 3DH"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "",
                visuallyHiddenText: "Question 3"
              }
            ]
          }
        }
      ]
    }) }}
    
    {{ govukButton({
      text: "Download PRN (PDF)",
      classes: "govuk-button--secondary",
      href: "/manage-prns/awaiting-acceptance.html"
    }) }}
{% endblock %}