{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">PRNs</h1>
  </div>

  <div class="govuk-grid-column-one-third">
    
    
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Create new PRN",
      classes: "govuk-button--secondary govuk-button--secondary-1"
    }) }}

  </div>
</div>

<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="dashboard-card-2">
    
        <div class="card-title-2">
          <h2 class="govuk-heading-xl" style="color: #1D70B8;" >493.68 tonnes
            <p class="govuk-body-m" style="color: #1D70B8";><strong>Available waste balance</strong></p>
            </h2>
        </div>
    
        <div class="task-list-2">
          <p class="govuk-body">This is the balance available for creating new PRNs</p>
        </div>
    
   </div>
  </div>
  
 </div>

<div class="govuk-!-padding-bottom-8"></div>



<div class="govuk-!-padding-bottom-8"></div>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Awaiting action
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Issued
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Awaiting authorisation</h2>

    <div class="govuk-inset-text">
      Balance including tonnage from PRNs awaiting authorisation: <strong>538.68 tonnes</strong>
    </div>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Issued to</th>
          <th scope="col" class="govuk-table__header">Date created</th>
          <th scope="col" class="govuk-table__header">Tonnage</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter">Endoscopic Systems</td>
          <td class="govuk-table__cell">19 September</td>
          <td class="govuk-table__cell">8</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
            Awaiting authorisation
          </strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Select</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter">MCG Developments</td>
          <td class="govuk-table__cell">18 September</td>
          <td class="govuk-table__cell">12</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
            Awaiting authorisation
          </strong></td>
          <td class="govuk-table__cell"><a href="/manage-prns/prn-details.html" class="govuk-link govuk-link--no-visited-state">Select</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter">Calcast</td>
          <td class="govuk-table__cell">14 September</td>
          <td class="govuk-table__cell">25</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
            Awaiting authorisation
          </strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Select</a></td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-l">Awaiting cancellation</h2>

    <div class="govuk-inset-text">
      PRNs awaiting cancellation: <strong>12 tonnes</strong>
    </div>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Issued to</th>
          <th scope="col" class="govuk-table__header">Date created</th>
          <th scope="col" class="govuk-table__header">Tonnage</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter">TFR Facilities</td>
          <td class="govuk-table__cell">13 August</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">
            Awaiting cancellation
          </strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Select</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter">Linton Construction</td>
          <td class="govuk-table__cell">7 August</td>
          <td class="govuk-table__cell">9</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">
            Awaiting cancellation
          </strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Select</a></td>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Issued</h2>
    <p class="govuk-body">You have <strong>2,000</strong> tonnes of your <strong>5,000</strong> tonnage band remaining</p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">PRN</th>
          <th scope="col" class="govuk-table__header">Issued to</th>
          <th scope="col" class="govuk-table__header">Date issued</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="#" class="govuk-link">ER992415095748M</a></td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Radar Design</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">30 September</td>
          <td class="govuk-table__cell govuk-!-width-one-half"><strong class="govuk-tag govuk-tag--purple">
            Awaiting acceptance
          </strong></td>
        </tr>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="#" class="govuk-link">ER999530193842M</a></td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Jokata</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">30 September</td>
          <td class="govuk-table__cell govuk-!-width-one-half"><strong class="govuk-tag govuk-tag--purple">
            Awaiting acceptance
          </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="#" class="govuk-link">ER932753193842N</a></td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Isonic Solutions</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">27 September</td>
          <td class="govuk-table__cell govuk-!-width-one-half"><strong class="govuk-tag govuk-tag--purple">
            Awaiting acceptance
          </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="#" class="govuk-link">ED932740310942U</a></td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Renewable Products</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">24 September</td>
          <td class="govuk-table__cell govuk-!-width-one-half"><strong class="govuk-tag govuk-tag--purple">
            Awaiting acceptance
          </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="#" class="govuk-link">ER992415095748M</a></td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">TTS N. Ireland</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">23 September</td>
          <td class="govuk-table__cell govuk-!-width-one-half"><strong class="govuk-tag govuk-tag--purple">
            Awaiting acceptance
          </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="#" class="govuk-link">ER932753193842N</a></td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Logan Enterprises</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">14 September</td>
          <td class="govuk-table__cell govuk-!-width-one-half"><strong class="govuk-tag govuk-tag--purple">
            Awaiting acceptance
          </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="#" class="govuk-link">ER992415095748M</a></td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Blue Sky Renewables</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">11 September</td>
          <td class="govuk-table__cell govuk-!-width-one-half"><strong class="govuk-tag govuk-tag--purple">
            Awaiting acceptance
          </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="#" class="govuk-link">ER992415095748M</a></td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Thirty30</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">11 September</td>
          <td class="govuk-table__cell govuk-!-width-one-half"><strong class="govuk-tag govuk-tag--purple">
            Awaiting acceptance
          </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="#" class="govuk-link">ER932753193842N</a></td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Solair Energy</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">9 September</td>
          <td class="govuk-table__cell govuk-!-width-one-half"><strong class="govuk-tag govuk-tag--purple">
            Awaiting acceptance
          </strong></td>
        </tr>
      </tbody>
    </table>

    {% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

  </div>
</div>


{% endblock %}