{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Create PRN</span>
      <h1 class="govuk-heading-xl">Who will this PRN be <br>issued to?</h1>

      <div class="govuk-form-group">
        <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters" type="text">
      </div>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Can’t find the producer or compliance scheme?
            </span>
          </summary>
          <div class="govuk-details__text">
            PRNs can only be issued to packaging waste producers and compliance schemes who have registered with your regulator. <br><br>
            If the buyer you're looking for is not appearing, check that:
             
            <ul class="govuk-list govuk-list--bullet govuk-list--bullet-1">
              <li>you have spelled the name correctly</li>
              <li>they are registered with your regulator</li>
              </ul>

          </div>
        </details>

        {{ govukButton({
          text: "Continue",
          href: "/create-prn/supporting-information.html"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
