{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">South road: Plastic</span>
      <h1 class="govuk-heading-xl">Check before you submit</h1>
      <p class="govuk-body">Your summary log has been uploaded and validated. <br><br> Before submitting, you need to confirm that you’re aware of the following. </p>

      <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-l">Waste balance</h2>

        {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

        {{ govukAccordion({
          id: "accordion-with-summary-sections",
          showSectionText: 'Show loads',
          items: [
            {
              heading: {
                text: "2 loads will be added to your waste balance"
              },
              summary: {
                text: "These are either new loads or existing loads that are now complete. These loads include all the
                information required in section 1 of your summary log."
              },
              content: {
                html:
                '<ul class="govuk-list govuk-list--bullet govuk-list--bullet-1">
                  <li>12345678911</li>
                  <li>12345678912</li>
                </ul>'
              }
            }
          ]
        }) }}

<h2 class="govuk-heading-l">Compliance</h2>
<h3 class="govuk-heading-m">Your summary log may be missing information required by your regulator</h3>
<p class="govuk-body">One or more loads in your summary log may be incomplete, meaning you might not be meeting your 
  regulatory requirements. <br><br>
  
  All the information across sections 1, 2, 3 and 4 of your summary log is needed for each load, where applicable, to ensure you remain compliant.<br><br>
  
  You may not have all the required information yet. As soon as you’re able to provide it, you should 
  submit an updated summary log.</p>

  <div class="govuk-!-padding-bottom-6"></div>

  <h2 class="govuk-heading-m">Declaration</h2>
  <p class="govuk-body">By submitting this summary log you confirm that:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--bullet-1">
        <li>the packaging waste records you’re providing are correct, to the best of your knowledge</li>
        <li>you will provide any missing information as soon as possible, to ensure that you’re meeting your regulatory requirements</li>
    </ul>

    <div class="govuk-!-padding-bottom-2"></div>
  
    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm and submit",
        href: "/ingestion-exporter/submitted-1.html"
      }) }}
    
      {{ govukButton({
        text: "Re-upload summary log",
        classes: "govuk-button--secondary",
        href: "/ingestion-exporter/file-upload-2.html"
      }) }}
    </div>

{% endblock %}