{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Summary log for accreditation 062001354
        submitted",
        html: "Your updated waste balance<br><strong>15.90 tonnes</strong>"
      }) }}

      <p>
        We have sent you a confirmation email.
      </p>

      <div class="govuk-inset-text">
        To change or add to the information you’ve provided, <a href="/ingestion-exporter/file-upload-1.html" class="govuk-link govuk-link--no-visited-state">submit an updated summary log</a>.
      </div>

      <ul class="govuk-list govuk-list-1 govuk-list--spaced">
        <li>
          <a class="govuk-linkm govuk-link--no-visited-state" href="#">Submit a report</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="#">Raise a PRN</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/ingestion-exporter/account-home">Return to home</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}