{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">South road: Plastic</span>
      <h1 class="govuk-heading-xl">Check before you submit</h1>
      <p class="govuk-body">Your summary log has been uploaded and validated. <br><br> Before submitting, you need to confirm that you’re aware of the following. </p>

      <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-l">2 new loads have been added</h2>

        {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

        {{ govukAccordion({
          id: "accordion-with-summary-sections",
          showSectionText: 'Show loads',
          items: [
            {
              heading: {
                text: "2 new loads will be added to your waste balance "
              },
              summary: {
                text: "These loads include all the information required in section 1 of your  summary log."
              },
              content: {
                html:
                '<ul class="govuk-list govuk-list--bullet govuk-list--bullet-1">
                  <li>12345678911</li>
                  <li>12345678912</li>
                </ul>'
              }
            }
          ]
        }) }}

  <div class="govuk-!-padding-bottom-3"></div>

  <h2 class="govuk-heading-m">Declaration</h2>
  <p class="govuk-body">By submitting this summary log you confirm that:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--bullet-1">
        <li>the packaging waste records you’re providing are correct, to the best of your knowledge</li>
        <li>you will provide any missing information as soon as possible, to ensure that you’re meeting your regulatory requirements</li>
    </ul>

  
    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm and submit",
        href: "/ingestion-reprocessor/submitted-1.html"
      }) }}
    
      {{ govukButton({
        text: "Re-upload summary log",
        classes: "govuk-button--secondary",
        href: "/ingestion-reprocessor/file-upload-2.html"
      }) }}
    </div>

{% endblock %}
