{% extends "layouts/main-1.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Prototypes</span>
      <h1 class="govuk-heading-xl">Manage reprocessed and exported packaging waste</h1>  
    </div> 

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Summary log ingestion</h1>

      <div class="dashboard-card-3">
      
      
        <div class="card-title-3">
          <strong class="govuk-tag">Ready for testing</strong>
          <div class="govuk-!-padding-bottom-6"></div>
          <h2 class="govuk-heading-m">Reprocessor or exporter</h2>
          <p class="govuk-body-s">As an accredited reprocesser or exporter for plastic, upload, check and submit a summary log for your South Road site. Then submit an adjusted summary log with previously missing information.</p>
        </div>
        
        <div class="task-list">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/ingestion-reprocessor/service-start.html">Start prototype</a>
          </li>
        </ul>
        </div>
        
        </div>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">PRNs</h1>

      <div class="dashboard-card-3">
      
      
        <div class="card-title-3">
          <strong class="govuk-tag govuk-tag--purple">In design</strong>
          <div class="govuk-!-padding-bottom-6"></div>
          <h2 class="govuk-heading-m">Create a PRN</h2>
          <p class="govuk-body-s">As an accredited reprocesser for plastic, upload, check and <br> submit a summary log for your South Road site.</p>
        </div>
        
        <div class="task-list">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/create-prn/account-home">Start prototype</a>
          </li>
        </ul>
        </div>
        
        </div>

        <div class="dashboard-card-3">
      
      
          <div class="card-title-3">
            <strong class="govuk-tag govuk-tag--purple">In design</strong>
            <div class="govuk-!-padding-bottom-6"></div>
            <h2 class="govuk-heading-m">Manage PRNs</h2>
            <p class="govuk-body-s">As an accredited exporter for plastic, upload, check and <br> submit a summary log for your South Road site.</p>
          </div>
          
          <div class="task-list">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/manage-prns/account-home">Start prototype</a>
            </li>
          </ul>
          </div>
          
          </div>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Monthly reporting</h1>

      <div class="dashboard-card-3">
      
      
        <div class="card-title-3">
          <strong class="govuk-tag govuk-tag--purple">In design</strong>
          <div class="govuk-!-padding-bottom-6"></div>
          <h2 class="govuk-heading-m">Create latest monthly report</h2>
          <p class="govuk-body-s">As an accredited reprocesser for plastic, upload, check and <br> submit a summary log for your South Road site.</p>
        </div>
        
        <div class="task-list">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/create-monthly-report/account-home">Start prototype</a>
          </li>
        </ul>
        </div>
        
        </div>

        <div class="dashboard-card-3">
      
      
          <div class="card-title-3">
            <strong class="govuk-tag govuk-tag--purple">In design</strong>
            <div class="govuk-!-padding-bottom-6"></div>
            <h2 class="govuk-heading-m">Manage monthly report</h2>
            <p class="govuk-body-s">As an accredited reprocesser for plastic, upload, check and <br> submit a summary log for your South Road site.</p>
          </div>
          
          <div class="task-list">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/manage-reports/account-home">Start prototype</a>
            </li>
          </ul>
          </div>
          
          </div>

    </div>

    

  </div>
  
</div>

{% endblock %}

